<div class="row py-5">
    <div class="col-md-5 ml-auto">
        <h4 class="my-3">
            <u>New Article</u>
        </h4>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
            amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
            mollis orci, sed rhoncus sapien nunc eget.</small></p>
    </div>
    <div class="col-md-6">
        <h6 class="my-3">Reports</h6>
        <hr>
        <p *ngFor="let iter of [0,1,2,3]" style="font-size:1.3rem;color:cornflowerblue">Lorem ipsum lorem ipsum, lorem ipsum lorem ipsum,</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-md-12 text-center">
        <p>Dazed by digiceuticals or confused by connected health?</p>
        <p>Our digital health lexicon provides all the vocabulary and definitions you'll need.</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-md-5 ml-auto">
        <input class="mb-1" type="text" placeholder="Type to search">
        <hr>
        <div class="row">
            <div class="col-md-10">
                <span *ngFor="let iter of [1,2,3,4,5,6,7,8,9,10,11]" class="my-0" style="font-size:0.5rem">Term {{iter%3+1}}<br/></span>
            </div>
            <div class="col-md-2 d-flex text-center">
                <div class="row d-flex">
                    <span class="calendar-control-prev-icon mb-auto" style="transform:rotate(90deg)"></span>                        
                </div>
                <div class="row d-flex">
                    <span class="calendar-control-prev-icon mt-auto" style="transform:rotate(270deg)"></span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-5 ml-auto">
        <p style="color:blue">Term 1</p>
        <p style="font-size:0.5rem;">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget..</p>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col-md-12">
        <h3>Hubs around Roche</h3>
    </div>

</div>
<div class="row">
        <div *ngFor="let iter of [0,1,2,3]" class="col-md-5 my-5 ml-auto">
            <h3>RocheNet</h3>
            <div id="hubPlaceholder" style="width:100%;height:220px;background-color:grey">
                <p class="display-4">HUB PLACEHOLDER</p>
            </div>
        </div>    

</div>