<h1>{{ page?.title.rendered }}</h1>
<div [innerHTML]="page?.content.rendered"></div>
<app-list></app-list>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{activeTag}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="selectTag('all')">Show all</a>
        <a class="dropdown-item" (click)="selectTag(tag)" *ngFor="let tag of allTags">{{tag}}</a>
    </div>
</div>


<div class="row">
    <div *ngFor="let column of adjustedCollection; let i=index" class="col-md-4">
        <div *ngFor="let row of column; let j = index" class="card my-3">
            <div class="card-body">
                <h4 class="card-title">{{row.title}} </h4>
                <p class="card-text"><small *ngFor="let tag of row.tags" (click)="selectTag(tag)" class="text-muted">{{tag}} </small></p>
                <span class="calendar-control-prev-icon card-control-icon" data-toggle="collapse" [attr.data-target]="'#collapse'+row.iter"
                    aria-expanded="false" [attr.aria-controls]="'collapse'+row.iter">
                    </span>

                <div class="collapse" [id]="'collapse'+row.iter">
                    <p>{{row.content}}</p>
                    <span>Contact: <a [routerLink]="['/digital-initiatives']">{{row.email}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>