// asd
.carousel-item 
{
    img{
        
    }
.more{
    position:absolute;
    bottom:15px;
    right:15px;
    z-index:10;
    background-color: rgba(82, 82, 82, 0.50);
    color:white;
    width:136px;
    font-weight: bold;
    border: 2px solid;
    border-color:white;
}
    .carusele-caption{
        position: absolute;
        color:white;
        font-size:24px;
        font-weight: normal;
        width:50%;
        height: 100%;
        background-color: rgba(15,100, 140, 0.7);
        padding:5%;
    
    }
.date{
    position:absolute;
    color:white;
    left:15px;
    bottom:15px;
    font-size:32px;
    font-weight: normal;
}
    
}


