<div class="row">
    <div class="col-md-12 text-center align-items-center">
        <div style="height:400px; background-color:grey">
        <p class="display-4">IMAGE PLACEHOLDER</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 my-5">
        <h3>Healthcare Solutions Team</h3>
        <hr>
    </div>
</div>

    <app-team-list></app-team-list>

<div class="row">
    <div class="col-md-12 my-5">
        <h3>PDMA Digital Sponsors</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-5">
        <h3>Digital Health Advisory Council</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-5">
        <h4 class="my-5">About</h4>
        <h4 class="my-5">Team</h4>
</div>
