<div id="link-list" class="row">
  <div [routerLink]="['knowledge']" class="col-md-3">
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="row">Achieving & maintaining access</span>
  </div>
  <div [routerLink]="['knowledge']" class="col-md-3">
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="row">Informing / advancing care and clinical practice</span>
  </div>
  <div [routerLink]="['knowledge']" class="col-md-3">
      <span class="glyphicon glyphicon-heart-empty"></span>
      <span class="row">Acheving target customer experience & expectations</span>
  </div>
  <div [routerLink]="['knowledge']" class="col-md-3">
      <span class="glyphicon glyphicon-globe"></span>
      <span class="row">Enabling ***** organization</span>
  </div>
</div>