<div id="link-list" class="row">
  <div [routerLink]="['/digital-initiatives']" class="col-md-3">
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="">Achieving & maintaining access</span>
  </div>
  <div [routerLink]="['/digital-initiatives']" class="col-md-3">
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="">Informing / advancing care and clinical practice</span>
  </div>
  <div [routerLink]="['/digital-initiatives']" class="col-md-3">
      <span class="glyphicon glyphicon-heart-empty"></span>
      <span class="">Acheving target customer experience & expectations</span>
  </div>
  <div [routerLink]="['/digital-initiatives']" class="col-md-3">
      <span class="glyphicon glyphicon-globe"></span>
      <span class="">Enabling ***** organization</span>
  </div>
</div>