<!-- <span
mwlCalendarToday
[(viewDate)]="viewDate">
Today
</span> -->

<!-- <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            <span *ngFor="let event of day.events">{{event.title}}  </span>
        </div>
        
</ng-template> -->
<div class="row calendar-title text-center">

    <span class="calendar-control-prev-icon col-md-offset-1 col-md-3" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"></span>
    <h3 class="col-md-3">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    <span class="calendar-control-next-icon col-md-3" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view"></span>
</div>

<mwl-calendar-custom-view id="calendar" [viewDate]="viewDate" [events]="events" (beforeViewRender)="beforeMonthViewRender($event)" (eventClicked)="eventClicked($event)">
</mwl-calendar-custom-view>

<div class="cal-filter-container">
    <div>
        <input id="internal" checked type="checkbox" value="1" (click)="clickCheck($event.target,$event.target.checked)">
        <label for="internal">Internal Events</label>
    </div>
    <div>
        <input id="external" checked type="checkbox" value="1" (click)="clickCheck($event.target,$event.target.checked)">
        <label for="external">External Events</label>
    </div>
</div>


<div class="row my-5">
    <div class="col-md-12">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        <hr>
    </div>
</div>

<div class="row">
    <ng-template ngFor let-event [ngForOf]="events">
        <div *ngIf="viewDate.getMonth() === checkMonth(event.start) || viewDate.getMonth() === checkMonth(event.end)" class="col-md-6">
            <div  class="card my-3" (click)="eventClicked('undefined',event)">
                <div class="{{event.cssClass}} card-body">
                    <img class="card-img" src="http://drive.google.com/uc?export=view&id={{event.attachment}}">
                    <div class="card-img-overlay d-flex align-items-end m-3">
                        <div>
                            <h4 class="card-title text-light">{{event.start | date:'MMMM d'}}</h4>
                            <span class="card-text text-light">{{event.location}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<button type="button" id="openModalButton" [hidden]="true" class="btn btn-primary invisible" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>

<app-event-modal [event]="clickedEvent" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></app-event-modal>