<div id="eventsFromSpace"></div>

<select id="event_selector">
        <option value="all">All events</option>
        <option value="internal">Internal</option>
        <option value="external">External</option>
</select>

<div class="cal-filter-container">
    <span><input id="internal" checked type="checkbox" value="1"><label for="internal">Internal Events</label></span>
    <span><input id="external" checked type="checkbox" value="1"><label for="external">External Events</label></span>
</div>