<!-- <span
mwlCalendarToday
[(viewDate)]="viewDate">
Today
</span> -->

<!-- <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            <span *ngFor="let event of day.events">{{event.title}}  </span>
        </div>
        
</ng-template> -->
<div class="row calendar-title">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
</div>
<div class="row">
    <div class="col-md-1">
        <a class="calendar-control-prev"
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="view">
            <span class="calendar-control-prev-icon"></span>
        </a>
    </div>

    <div class="col-md-10">
        <mwl-calendar-custom-view 
            id="calendar"
            [viewDate]="viewDate" 
            [events]="events"
            (beforeViewRender)="beforeMonthViewRender($event)">>
        </mwl-calendar-custom-view>
        <div *ngIf="blankRow" class="blank-row"></div>

        <div class="cal-filter-container">
            <div>
                <input id="internal" checked type="checkbox" value="1" (click)="clickCheck($event.target,$event.target.checked)">
                <label for="internal">Internal Events</label>
            </div>
            <div>
                <input id="external" checked type="checkbox" value="1" (click)="clickCheck($event.target,$event.target.checked)">
                <label for="external">External Events</label>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <a class="calendar-control-next"
            mwlCalendarNextView
            [(viewDate)]="viewDate"
            [view]="view">
            <span class="calendar-control-next-icon"></span>
            </a>
    </div>
</div>