<div id="teamCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item" [ngClass]="(i===0?'active':'')" *ngFor="let row of rows; let i = index" [attr.data-index]="i">
        <div *ngFor="let element of elements" class="col-md-{{rows.length}} text-center">
          <img src="{{list[element+row*divider]?.source_url}}" alt="{{list[element+row*divider]?.alt_text}}" class="row">
          <span class="row">{{list[element+row*divider]?.title.rendered}}</span>
        </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#teamCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#teamCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>