<div id="contact" class="col-md-7">
  <p>DANE<br/>
  Nazwa firmy<br/>
  Budynek, Pokój<br/>
  Ulica  KOD Miasto<br/>
  Kraj</p>
</div>

<div id="footer-menu"  class="col-md-3">
  <ul>
    <li *ngFor="let item of menu['items']" >
      <a [routerLink]="[item.object_slug]">{{item.title}}</a>
    </li>
  </ul>
</div>
  <div id="links" class="col-md-2">
    <img id="google-icon" src="https://assets.materialup.com/uploads/b8f2348a-dfa8-4c0a-b696-112e1c293b95/googleplus-logos-02.png" alt="G+"/>
    <img id="pdlive-icon" src="https://assets.materialup.com/uploads/b8f2348a-dfa8-4c0a-b696-112e1c293b95/googleplus-logos-02.png" alt="G+"/>
  </div>