<div id="contact" class="w-25">
  <p>DANE<br/>
  Nazwa firmy<br/>
  Budynek, Pokój<br/>
  Ulica  KOD Miasto<br/>
  Kraj</p>
</div>

<div id="footer-menu"  class="w-50">
  <ul>
    <li *ngFor="let item of menu" >
      <a [routerLink]="[item.slug]">{{item.title}}</a>
    </li>
  </ul>
</div>
  <div id="links" class="w-25">
    <img id="google-icon" src="https://assets.materialup.com/uploads/b8f2348a-dfa8-4c0a-b696-112e1c293b95/googleplus-logos-02.png" alt="G+"/>
    <img id="pdlive-icon" src="https://assets.materialup.com/uploads/b8f2348a-dfa8-4c0a-b696-112e1c293b95/googleplus-logos-02.png" alt="G+"/>
  </div>