<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="(i===0?'active':'')" *ngFor="let item of items; let i = index" [attr.data-index]="i">
            <div *ngIf="item.caption" class="carusele-caption">
              <div [innerHtml]="item.caption"></div>
            </div>
            <img class="d-block w-100" src="{{item.source_url}}" alt="{{item.alt_text}}">
            <div *ngIf="item.alt_text" class="date">
                <h1>{{item.date | date:'MMMM d'}}, {{item.alt_text}}</h1>
              </div> 
            <button class="more btn" (click)="moreClicked()"> more </button>
        </div>
    </div>
    <a class="carousel-control-prev smaller-control" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next smaller-control" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>